<div id="<%= dom_id report %>">
  <p>
    <strong>Name:</strong>
    <%= report.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= report.company_id %>
  </p>

  <p>
    <strong>Preferred day:</strong>
    <%= report.preferred_day %>
  </p>

  <p>
    <strong>Preferred hour:</strong>
    <%= report.preferred_hour %>
  </p>

</div>
